@section featured {
<img src="~/Images/think.jpg" class="pull-left"/>
<section>
    @if (ViewBag.Animals != "")
    {
    <hgroup>
        <h1>Think animal</h1>
        <h2>Hello, think about one of this animals (@ViewBag.Animals) and we will try to guess it.</h2>
    </hgroup>
    @Html.ActionLink("Ok, let's play!", "Play", "Home", null, new{@class="btn btn-primary btn-large"})
    }
    else
    {
    <h2>Sorry, we don't have animals in our data base. Log in as administrator and add animals.</h2>
    }            
</section>
}

