@if (Request.IsAuthenticated) {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style="margin: 0px" })) {
            @Html.AntiForgeryToken()
            <a class="navbar-text pull-right" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
} else {
    <p class="navbar-text pull-right">@Html.ActionLink("Log In", "Login", "Account")</p>
}
